@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

/*:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .prose p {
    text-align: justify;
  }

  .prose>p:first-of-type {
    margin-top: 5rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

/*body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

*/

@theme {
  --font-sans: 'Inter', 'sans-serif';

  --color-brand-blue: #2563EB;
  --color-brand-orange: #f59e0b;
  --color-brand-ice: #f0f9ff;

  --color-ice-50: #f0f9ff;
  --color-ice-100: #e0f2fe;
  --color-ice-200: #bae6fd;
  --color-ice-300: #7dd3fc;
  --color-ice-900: #0c4a6e;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

body {
  color: #0f172a;
}